.app{
    display: grid;
    grid-template-columns: 20rem 1fr;      
    gap: 1rem;
    .content{
        display: grid;
        grid-template-rows: 0.2fr 2fr;  // ESTUDIAR COMO MEJORAR ESTO PARA EL TAMAÑO DEL ALYOUT 

    }
}
.prueba{
    height: 10vh;
}